/* color:#192a3e; navy blue */
/* color: #898ea2; purple-ish grey */
/* color: #c7ccdb; light blue */

.hungryus .header {
    display: flex;
    padding-top: 50px;
    padding-bottom: 100px;
}

.hungryus .heading {
    float: left;
    text-align:end;
    transform: translateY(50%);
    padding-right:50px;
}
.hungryus .purple-bg{
    /* light purple */
    /* background-color: #f9fafe; */
    background-color: #F0F0FF;
}

.hungryus .container{
    padding-top: 5%;
    padding-bottom: 5%;
}
.hungryus .section {
    padding: 5% 0px;
    border-bottom: 1px solid#d9d9e4 ;
}
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.hungryus h1,
h2,
h4,
h5,
h6{
    /* navy blue */
    /* color:#192a3e; */
    color:#100939;
}
.hungryus h1{
    font-size: 35px;
    
    /* color:#192a3e; */
}
.hungryus h3{
    font-size: 20px;
    /* color: #a07352; */
    color: #898ea2;
}
.hungryus p{
    /* color: #898ea2; */
    color:#9b9bc4;
}
.hungryus .description{
    padding-top: 10%;
    font-size: medium;
}
.hungryus .subtitle{
    padding: 20px;
}
.hungryus .sm-title{
    text-align: center;
    /* padding: 45px 10% 10px; */
    padding:5px;
}
.hungryus .title{
    text-align: center;
    padding: 45px 10% 15px;
    font-size: 25px;
}
.hungryus .centered_text{
    text-align: center;
}
.hungryus .centered_list{
    padding-left: 10vw;
    padding-right: 10vw;
}
.hungryus li {
    /* padding: 3px; */
    /* color: #898ea2; */
    color:#241B6B;
    font-size: 18px;
}
.hungryus .no-bullets{
    list-style-type: none;
}
.hungryus .img-padding{
    padding:5%;
}
.hungryus .img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}