

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}



#back-to-homepage {
    color: #192a3e;
    font-size: 30px;
}

/* footer */
footer {
    padding-top: 50px;
    padding-bottom: 2px;
    /* border-top:1px solid#d9d9e4 ; */
}

footer h6 {
    font-weight: bolder;
    font-size: 18px;
}

footer .contact {
    border-right: 2px solid#d9d9e4;
}

.align-end {
    text-align: end;
}