 
 .video {
  width: 100%;
  height: auto;
 }

 .u-section-1 {
  background-image: url("images/JoviInlife.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 746px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 429px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 576px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 60px;
  margin-bottom: 23px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 115px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 10px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 378px;
}

.u-section-2 .u-container-layout-2 {
  padding: 24px 30px;
}

.u-section-2 .u-group-1 {
  min-height: 219px;
  height: auto;
  margin: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 500;
  margin: 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-2 .u-layout-cell-1 {
    pointer-events: auto;
    min-height: 95px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 79px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    min-height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 557px;
}

.u-section-3 .u-text-1 {
  margin: 60px 30px 0;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 134px;
}

.u-section-3 .u-container-layout-1 {
  padding: 17px 16px 16px;
}

.u-section-3 .u-text-2 {
  width: 48px;
  margin: 29px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 134px;
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 0;
}

.u-section-3 .u-text-3 {
  margin: 0 30px;
}

.u-section-3 .u-layout-wrap-2 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 134px;
}

.u-section-3 .u-container-layout-3 {
  padding: 17px 16px 16px;
}

.u-section-3 .u-text-4 {
  margin: 29px 14px 0 36px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 134px;
}

.u-section-3 .u-container-layout-4 {
  padding: 15px 0;
}

.u-section-3 .u-text-5 {
  margin: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    pointer-events: auto;
    min-height: 110px;
  }

  .u-section-3 .u-text-2 {
    width: 61px;
    margin-top: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    pointer-events: auto;
    min-height: 110px;
  }

  .u-section-3 .u-text-4 {
    width: 61px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 110px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 145px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 2px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 146px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 11px;
    margin-left: 20px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 2px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 146px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 45px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 84px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 45px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 84px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 110px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 52px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 259px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 90px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 49px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 78px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-right: 259px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 826px;
}

.u-section-4 .u-text-1 {
  margin: 100px 30px 0;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1080px;
  margin: 80px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-group-1 {
  min-height: 298px;
  width: 340px;
  height: auto;
  margin: 2px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 19px 30px;
}

.u-section-4 .u-text-2 {
  background-image: none;
  font-size: 2.25rem;
  margin: 20px 40px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-4 .u-group-2 {
  min-height: 298px;
  height: auto;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 19px 30px;
}

.u-section-4 .u-text-4 {
  font-size: 2.25rem;
  margin: 20px 40px 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 302px;
}

.u-section-4 .u-container-layout-5 {
  padding: 2px 10px;
}

.u-section-4 .u-group-3 {
  min-height: 298px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 19px 30px;
}

.u-section-4 .u-text-6 {
  font-size: 2.25rem;
  margin: 20px 40px 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 500;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 17px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 0;
    height: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.125rem;
    margin-right: 16px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 17px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-text-6 {
    font-size: 2.125rem;
    margin-right: 16px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 46px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 365px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 2px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 365px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 161px;
  }

  .u-section-4 .u-group-1 {
    min-height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 164px;
  }

  .u-section-4 .u-group-2 {
    min-height: 186px;
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 39px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-4 .u-group-3 {
    min-height: 199px;
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 10px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 69px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 106px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 16px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 19px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 217px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-4 .u-group-3 {
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-bottom: 19px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 39px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 20px;
    margin-right: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 2320px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 101px 30px 0;
}

.u-section-5 .u-text-2 {
  margin: 45px 30px 0;
}

.u-section-5 .u-text-3 {
  font-weight: 500;
  margin: 45px 30px 0;
}

.u-section-5 .u-group-1 {
  min-height: 688px;
  margin-top: 45px;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 1004px;
  height: 565px;
  margin: 62px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 60px 30px 0;
}

.u-section-5 .u-image-2 {
  width: 1080px;
  height: 466px;
  margin: 45px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 85px 30px 0;
}

.u-section-5 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1080px;
  margin: 45px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 336px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 17px;
}

.u-section-5 .u-group-2 {
  min-height: 330px;
  width: 460px;
  height: auto;
  box-shadow: 0px 5px 10px 0px rgba(61,64,76,0.15);
  margin: 3px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 19px 30px;
}

.u-section-5 .u-text-6 {
  font-size: 2.25rem;
  margin: 30px 40px 0 20px;
}

.u-section-5 .u-text-7 {
  font-weight: 500;
  margin: 30px 20px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 363px;
}

.u-section-5 .u-container-layout-4 {
  padding: 3px 10px;
}

.u-section-5 .u-group-3 {
  min-height: 337px;
  height: auto;
  width: 460px;
  box-shadow: 0px 5px 10px 0px rgba(61,64,76,0.2);
  margin: 0 20px -7px auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 19px 30px;
}

.u-section-5 .u-text-8 {
  font-size: 2.25rem;
  margin: 30px 40px 0 20px;
}

.u-section-5 .u-text-9 {
  font-weight: 500;
  margin: 30px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2118px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    min-height: 566px;
    height: auto;
  }

  .u-section-5 .u-image-1 {
    width: 850px;
    height: 478px;
    margin-top: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 65px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 406px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 65px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 3px 10px;
  }

  .u-section-5 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-5 .u-text-6 {
    margin-right: 13px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-5 .u-group-3 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-5 .u-text-8 {
    margin-right: 35px;
    margin-left: 15px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1874px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 61px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-group-1 {
    min-height: 450px;
    margin-top: 30px;
  }

  .u-section-5 .u-image-1 {
    width: 655px;
    height: 368px;
  }

  .u-section-5 .u-image-2 {
    height: 314px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2142px;
  }

  .u-section-5 .u-group-1 {
    min-height: 370px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 145px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 316px;
  }

  .u-section-5 .u-group-2 {
    min-height: 295px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.75rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 29px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 343px;
  }

  .u-section-5 .u-group-3 {
    min-height: 294px;
    margin-top: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.75rem;
    margin-top: 29px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 29px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 60px;
  }

  .u-section-5 .u-group-1 {
    min-height: 219px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 61px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-top: -24px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-5 .u-group-2 {
    min-height: 240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
    margin-right: 13px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-5 .u-group-3 {
    min-height: 239px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 835px;
}

.u-section-6 .u-text-1 {
  margin: 60px 30px 0;
}

.u-section-6 .u-image-1 {
  height: 587px;
  width: 1050px;
  margin: 45px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 526px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-6 .u-image-1 {
    height: 415px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-6 .u-image-1 {
    height: 326px;
    margin-top: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 3780px;
}

.u-section-7 .u-text-1 {
  margin: 60px 30px 0;
}

.u-section-7 .u-image-1 {
  height: 839px;
  width: 1050px;
  margin: 45px auto 0;
}

.u-section-7 .u-image-2 {
  height: 999px;
  width: 1050px;
  margin: 100px auto 0;
}

.u-section-7 .u-image-3 {
  height: 621px;
  width: 1050px;
  margin: 115px auto 0;
}

.u-section-7 .u-image-4 {
  height: 865px;
  width: 1050px;
  margin: 100px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3432px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    height: 752px;
    width: 940px;
  }

  .u-section-7 .u-image-2 {
    height: 894px;
    width: 940px;
  }

  .u-section-7 .u-image-3 {
    height: 556px;
    width: 940px;
  }

  .u-section-7 .u-image-4 {
    height: 775px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2660px;
  }

  .u-section-7 .u-image-1 {
    height: 572px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    height: 685px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-3 {
    height: 426px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-4 {
    height: 594px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2483px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 23px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1633px;
  }

  .u-section-7 .u-image-1 {
    height: 375px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 442px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 275px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 392px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 780px;
}

.u-section-8 .u-text-1 {
  margin: 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 417px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1866px;
}

.u-section-9 .u-text-1 {
  margin: 60px 30px 0;
}

.u-section-9 .u-text-2 {
  margin: 45px 30px 0;
}

.u-section-9 .u-text-3 {
  font-weight: 500;
  margin: 30px 30px 0;
}

.u-section-9 .u-text-4 {
  margin: 60px 30px 0;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-9 .u-image-1 {
  width: 646px;
  height: 313px;
  margin: 13px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  width: 374px;
  height: 230px;
  margin: 55px auto 0;
}

.u-section-9 .u-text-5 {
  margin: 30px 30px 0;
}

.u-section-9 .u-image-3 {
  height: 396px;
  width: 1080px;
  margin: 45px auto 0;
}

.u-section-9 .u-text-6 {
  margin: 60px 30px 0;
}

.u-section-9 .u-image-4 {
  height: 425px;
  width: 1080px;
  margin: 45px auto 28px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1806px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-9 .u-image-1 {
    width: 514px;
    height: 249px;
    margin-top: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-9 .u-image-2 {
    height: 198px;
    width: 320px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-3 {
    height: 345px;
    width: 940px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-4 {
    height: 370px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1517px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 26px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-9 .u-image-1 {
    height: 186px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-9 .u-image-2 {
    height: 139px;
    width: 225px;
  }

  .u-section-9 .u-image-3 {
    height: 264px;
    width: 720px;
  }

  .u-section-9 .u-image-4 {
    height: 283px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1864px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    height: 319px;
    width: 516px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-9 .u-image-3 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-6 {
    width: auto;
  }

  .u-section-9 .u-image-4 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1490px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 49px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: -1px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-9 .u-image-1 {
    height: 155px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 224px;
  }

  .u-section-9 .u-image-2 {
    height: 198px;
    width: 320px;
  }

  .u-section-9 .u-image-3 {
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-6 {
    margin-top: 45px;
  }

  .u-section-9 .u-image-4 {
    height: 147px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}